.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 1rem;
  left: 3.125rem;
  right: 0;
  padding: 1.5rem 1.5rem 1.5rem 2.5625rem;
  border-radius: 8px;
  background: #151515;
  z-index: 1000;
  width: calc(100% - 9rem);
  height: 5.8125rem;

  &.light {
    background: #efefef;
    color: #151515;

    h2,
    p,
    a {
      color: #151515;
    }

    .reject {
      background: #151515;
      color: #efefef;
    }

    .reject:hover {
      background: #fea372;
      color: #151515;
    }

    .accept:hover {
      background: #151515;
      color: #efefef;
    }
  }

  @media screen and (max-width: 1292px) {
    width: calc(100% - 7rem);
    left: 1rem;
    height: fit-content;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    left: 0;
    bottom: 0;
    gap: 3rem;
    border-radius: 8px 8px 0px 0px;
    flex-direction: column;
    padding: 1.5rem 1.5rem 5rem 1.5rem;
    z-index: 9999999;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  h2,
  p {
    color: #efefef;
    font-variant-numeric: slashed-zero;
  }

  .title {
    font-size: 1.5rem;
    line-height: 0.9;
    letter-spacing: -0.018rem;
  }

  p {
    font-size: 0.9375rem;
    line-height: 0.9;
    letter-spacing: -0.0037rem;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  min-width: 25rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    width: 100%;
    min-width: 0;

    button {
      width: 100%;
    }
  }

  button span {
    font-size: 24px;
    line-height: 0.9;
    padding-top: 2px;
  }

  a {
    color: #efefef;
    font-family: "ALT Riviera";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.288px;
    padding-top: 2px;
  }
}
