.toggle {
  display: flex;
  flex-direction: column;
  gap: 4.375rem;
  max-width: 22rem;
  font-family: "ALT Riviera";

  @media (max-width: 900px) {
    max-width: unset;
    gap: 2.875rem;
  }

  h1 {
    font-size: 4.375rem;
    line-height: 100%;
    color: #0d0d0d;

    @media screen and (max-width: 768px) {
      font-size: 2.25rem;
    }
  }

  .toggleLinks {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 120px;
      height: 100%;
      background: #efefef;
      border-radius: 50px;
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      transform: translateX(var(--translate-x, 0));
    }

    button {
      position: relative;
      z-index: 1;
      font-size: 1.3125rem;
      padding: 14px 1.125rem;
      border-radius: 50px;
      cursor: pointer;
      color: #0d0d0d;
      background: transparent;
      letter-spacing: 0.084px;
      transition: color 0.3s ease;

      &.active {
        background: transparent;
      }
    }
  }
}
