.header {
  position: fixed;
  width: 100%;
  height: 102px;
  padding: 10px;
  max-width: 1392px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  transition: transform 0.3s ease;

  &.down {
    transform: translateX(-50%) translateY(-100%);
  }

  &.up {
    transform: translateX(-50%) translateY(0);
  }

  &.light {
    color: #fff;
    .button {
      color: #fff;
    }
  }

  &.dark {
    color: #000;
    .button {
      color: #000;

      svg,
      path {
        stroke: #1b1b1b;
      }

      &:hover {
        svg,
        path {
          stroke: #1b1b1b;
        }
      }

      span {
        color: #1b1b1b;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.125rem;

    .button {
      padding: 0px 10px;
      font-size: 24px;

      svg,
      path {
        color: transparent;
        stroke: white;
      }

      &:hover {
        svg,
        path {
          stroke: white;
        }
      }
    }

    .bordered {
      font-size: 24px;
    }
  }
}
