.title {
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: -0.576px;
  color: #efefef;
  leading-trim: both;
  text-edge: cap;
  font-variant-numeric: slashed-zero;
  font-family: "ALT Riviera";

  &.h1 {
    font-size: 48px;

    @media (max-width: 768px) {
      font-size: 28px;
    }
  }

  &.h2 {
    font-size: 30px;
  }

  &.h3 {
    font-size: 24px;
  }

  &.h4 {
    font-size: 20px;
  }

  &.h5 {
    font-size: 16px;
  }

  &.h6 {
    font-size: 14px;
  }
}
