.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 0.8;

  &:hover {
    color: #fea372;

    .icon {
      filter: brightness(0) saturate(100%) invert(97%) sepia(49%)
        saturate(5029%) hue-rotate(305deg) brightness(99%) contrast(101%);
    }
  }

  .icon {
    position: relative;
    top: -2px;
  }
}
